body{
	
	overflow-x: hidden;
}
.Tj-page-wrapper{background-image: url(../img/pizza-bg.png);background-repeat: no-repeat;background-position: center;background-size: contain;border: 5px solid #991e1e;border-bottom: 0;padding: 15px 0; display: block;height: 100vh;}
.logo-wrap {float: left; padding-right: 15px;}
.logo-wrap img{width: 70%;}
.social-wrap {position: fixed;top: 140px;left: 10px;z-index: 99;}
.menu-wrap {float: left;padding: 0 0 0 15px;position: absolute;left: 15%;right: 0;}
.menu-wrap .navigation,.social-nav{margin: 0; padding: 0;list-style-type: none;}
.menu-wrap .navigation{background-color: #991e1e;display: inline-block; width: 100%; padding: 10px 0px;}
.social-nav li{padding: 5px 0;}
.menu-wrap .navigation li {float: left;width: 16.6666%; position: relative; text-align: center;}
.menu-wrap .navigation li a {font-family: 'Britannic';font-size: 26px;font-weight: bold;padding: 00px;text-transform: capitalize;color: #fff;display: block;}
.menu-wrap .navigation li a:hover {text-decoration: none;}
.menu-wrap .navigation li:after {content: "";color: #fff;font-size: 26px;position: absolute;top: 6px;right: 0px;height: 26px;width: 2px;background: #fff;}
.menu-wrap .navigation li:last-child:after{content:""; display: none;}
.heading {clear: both;position: absolute;left: 50%;transform: translateX(-50%);top: 20%;}
.heading img{width: 100%;}
.Tj-page-wrapper header:before {content: "";display: block;width: 100%;height: 50px;background: #f5e0cb;opacity: 0.7;position: absolute;top: 5px;left: 0;right: 0;}
.mobile-menu ,.social-mobile{display: none;}
.registration-wrap {position:relative;width: 1400px; margin:50px auto;padding: 25px 10px; background: rgba(203,203,203,0.5);}
.register-content form {margin: 0 -15px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center;justify-content: center;}
.register-content form label {color: #e65322;display: block; font-size: 22px;font-family: 'Britannic';font-weight: 600; line-height: 26px; margin-bottom: 10px;}
.register-content form input.tg-input {border: 1px solid #99201f; width: 100%; height: 40px; padding: 0 15px;}
.tg-input-grp input[type="file"]{float: right; margin: 10px 0 0;}
.tg-input-grp {margin-bottom: 20px; position: relative;}
a:hover{text-decoration: none;}
span.tg-add-on {position: absolute;top: 48px;right: 8px;text-align: right;z-index: 8;}
.tg-input-date input {background-image: url(../img/calender-icon.png); background-repeat: no-repeat;background-size: 25px;background-position: 96%;}
.del-loc {float: left;margin: 5px 0; color: #e65322;font-size: 17px;font-weight: 600;padding: 0 10px 0 0;font-family: 'Britannic';}
a.tg-btn-submit {background: rgba(254,143,30,0.5); display: block;height: 59px;text-align: center;line-height: 60px;font-family: 'Britannic';color: #ffffff;font-size: 35px; font-weight: 600; margin-top: 50px;}
.dis-text {display: block; width: 100%;background: #c6925a; height: 150px;border-top: 5px solid #f1b87e;color: #ffffff;line-height: 150px;text-align: center; font-size: 27px; font-weight: 600;}
.dis-content {display: block; height: 120px;background: #fff; padding: 10px;color: #7d7d7d; font-size: 15px;}
.tg-input-grp input[type="checkbox"]{-webkit-appearance:none;-moz-appearance:none;appearance:none;height: 15px;	width: 15px;background-color: #fff;	position: relative;	margin-right: 5px;	margin-top: 0;}
.tg-input-grp input[type="checkbox"]:checked + .chk_check:after{content: "\f00c"; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; color: rgba(0,0,0,0.5); position: absolute; font-size: 13px;top: 0; left: 2px;color: #e65322;}
.chk-lb{position: relative; display: inline-block !important;}
label.chk-lb.add-lb {font-size: 14px;color: #7d7d7d;display: flex !important; align-items: center;justify-content: flex-end;}
label.chk-lb.add-lb input[type="checkbox"]:checked + .chk_check:after{    left: 54.5%;}
*:focus,input[type="checkbox"]:focus{outline: none;}


/*19-09-2018*/
.childern-bg {content: ""; background-image: url(../img/children.png);background-repeat: no-repeat;background-position: right; display: block; width: 100%;height: 230px;background-size: 555px;position: absolute;right: 5px;background-position: 100% 100%;}
.heading.find-grp-wrap{display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-align: center;-ms-flex-align: center;align-items: center;top: 12%;}
.grp-drp{padding: 0 15px;}
.grp-drp select{background:url(../img/drop-down.png); width: 300px;height: 50px;border: 2px solid #7d7d7d;margin: 0;padding: 0 15px;background-color: #e4e4e4;line-height: 50px;-webkit-appearance:none; -moz-appearance:none; appearance:none; background-repeat: no-repeat;background-position: 94%;background-size: 5%; color: #7d7d7d; font-size: 18px;font-family: 'Adobe Caslon Pro';}
.other-info{-webkit-box-flex: 0;-ms-flex: 0 0 60%; flex: 0 0 60%;max-width: 60%;padding: 0 15px; position: relative; top: 40px;}
.other-info ul {padding: 0; margin: 0;list-style-type: none;}
.other-info li {font-size: 22px; font-family: 'Adobe Caslon Pro'; color: #000000;}
.other-info li:before {content: "~"; padding-right: 6px;font-size: 22px;}
.dashboard-exp { background: #fff; display: inline-block;border-radius: 50%;padding: 0 60px; position: absolute; top: 240px;left: 13%;}
.dashboard-exp h3 {margin: 0; color: #b32025;font-size: 30px; padding: 20px 0; line-height: 30px;}
.dashboard-exp h3 span{color: #000;}
.greeting-section{width: 1400px; margin:50px auto;}
.greet-wrap{ display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}
.greet-wrap h4 {-webkit-box-flex: 0; -ms-flex: 0 0 20%; flex: 0 0 20%; max-width: 20%;color: #f15528; font-size: 65px; font-family: 'Bickham Script Std'; font-weight: bold; font-style: italic;}
.greet-wrap p{color: #000;font-size: 20px;font-weight: bold;line-height: 28px; margin: 0;}
.greet-wrap p a{color: #f15528;}
/*19-09-2018*/

/*20-09-2018*/
.form-gr input {
    border: 2px solid #1589bd;
    height: 50px;
    color: #555555;
    font-size: 15px;
    font-weight: normal;
    font-family: arial;
    padding: 10px;
    width: 100%;
}
.other-links {
    color: #1589bd;
    font-size: 16px;
    font-weight: 600;
    font-family: arial;
    text-align: center;
    display: block;
    width: 100%;
}
.acc-container {width: 400px;}
button.submit-btn {
    height: 50px;
    width: 100%;
    border: 0;
    line-height: 50px;
    padding: 0;
    background: #1589bd;
    color: #fff;
    text-transform: uppercase;
    font-family: arial;
    letter-spacing: 1px;
    font-size: 20px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(181,181,181,0.6);
-moz-box-shadow: 0px 0px 5px 2px rgba(181,181,181,0.6);
box-shadow: 0px 0px 5px 2px rgba(181,181,181,0.6);
}
a.other-links.frg-link {text-align: right !important;}
.form-gr {margin: 10px auto;}
.form-gr:first-child{margin-top: 0;}
.form-gr-last-child{margin-bottom: 0}
.acc-wrapper{
   background: rgba(255,241,160,1);
   background: -moz-linear-gradient(top, rgba(255,241,160,1) 0%, rgba(254,249,210,1) 49%, rgba(255,241,159,1) 100%);
   background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,241,160,1)), color-stop(49%, rgba(254,249,210,1)), color-stop(100%, rgba(255,241,159,1)));
   background: -webkit-linear-gradient(top, rgba(255,241,160,1) 0%, rgba(254,249,210,1) 49%, rgba(255,241,159,1) 100%);
   background: -o-linear-gradient(top, rgba(255,241,160,1) 0%, rgba(254,249,210,1) 49%, rgba(255,241,159,1) 100%);
   background: -ms-linear-gradient(top, rgba(255,241,160,1) 0%, rgba(254,249,210,1) 49%, rgba(255,241,159,1) 100%);
   background: linear-gradient(to bottom, rgba(255,241,160,1) 0%, rgba(254,249,210,1) 49%, rgba(255,241,159,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff1a0', endColorstr='#fff19f', GradientType=0 );
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    padding: 100px 0 100px;
}
.logo-wrapper {
    text-align: center;
    margin-bottom: 50px;
}
.create-acc .other-links {
    font-size: 13px;
    font-weight: normal;
}
.or {
    color: #000000;
    font-family: arial;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
}
.fb-btn {
    background-color: #0f5e82 !important;
    margin-bottom: 10px;
}
.gmail-btn {background-color: #f44336 !important;}
.reset-wrap h4 {
    color: #030303;
    font-size: 24px;
    font-family: arial;
    font-weight: 300;
    margin-bottom: 5px;
}
.reset-wrap p {
    color: #030303;
    font-size: 15px;
    font-weight: 500;
    font-family: arial;
    margin-bottom: 15px !important;
}
/*20-09-2018*/

/*shp -21-09-2018 */
.error {color: red;}
/*shp -21-09-2018 */