

<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1">

	<title>TJ's-Pizza Fundraising Company</title>

    <link href="<?php echo ASSETS?>global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo ASSETS?>global/plugins/bootstrap/css/font-awesome.min.css" rel="stylesheet"><!--bootstrap css-->
    <link href="<?php echo ASSETS?>global/plugins/bootstrap/css/fonts.css" rel="stylesheet"><!--bootstrap css-->
    <link href="<?php echo ASSETS?>global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet"/>
    <link href="<?php echo ASSETS?>global/css/style.css" rel="stylesheet"><!--bootstrap css-->
    <link rel="stylesheet" href="<?php echo ASSETS?>global/css/intlTelInput.css"><!--Input tel css-->
    <link href="<?php echo ASSETS?>global/css/responsive.css" rel="stylesheet"><!--bootstrap css-->
    <link href="<?php echo ASSETS?>global/css/sweetalert2.min.css" rel="stylesheet"><!--bootstrap css-->
    <link href="<?php echo ASSETS?>global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet"><!--bootstrap css-->

</head><body>
	<div class="Tj-page-wrapper">
        <h1>No such Page is found </h1>
    </div>
</body>
    
<script src="<?php echo ASSETS?>global/plugins/jquery.min.js"></script><!--jquery js-->
<script src="<?php echo ASSETS?>global/plugins/bootstrap/js/bootstrap.min.js"></script><!--bootstrap js-->
